@import "tailwindcss";
@plugin "daisyui";

.mapboxgl-popup-close-button {
  height: 1.5rem;
  width: 1.5rem;
  font-size: 1.5rem;
}

@media (max-width: 639px) {
  .mapboxgl-popup {
    --card-p: 1rem;

    transform: none !important;
    top: auto !important;
    left: auto !important;
    bottom: calc(var(--spacing) * 4);
    justify-self: center;
    width: 100dvw;
    z-index: 20;
    max-width: 100% !important;
    display: flex !important;
    justify-content: center !important;

    .mapboxgl-popup-content {
      background: none !important;
      border-radius: 0 !important;
      padding: 0 !important;
      box-shadow: none !important;
      width: 96vw;
    }
  }

  .mapboxgl-popup-tip {
    display: none !important;
  }

  .mapboxgl-popup-anchor-left,
  .mapboxgl-popup-anchor-right,
  .mapboxgl-popup-anchor-top,
  .mapboxgl-popup-anchor-top-left,
  .mapboxgl-popup-anchor-top-right,
  .mapboxgl-popup-anchor-bottom,
  .mapboxgl-popup-anchor-bottom-left,
  .mapboxgl-popup-anchor-bottom-right {
    flex-direction: row !important;
  }
}
