@import "tailwindcss";
@plugin "daisyui";

.mapboxgl-popup-close-button {
  color: black;
  height: 1.5rem;
  width: 1.5rem;
  font-size: 1.5rem;
}

@media (max-width: 639px) {
  .mapboxgl-custom-popup {
    transform: none !important;
    top: auto !important;
    left: auto !important;
    bottom: 100px !important;
    justify-self: center;
    width: 100dvw;
  }

  .mapboxgl-custom-popup .mapboxgl-popup-content {
    background: none !important;
    border-radius: 0 !important;
    padding: 0 !important;
    box-shadow: none !important;
  }

  .mapboxgl-popup-tip {
    display: none !important;
  }

  .mapboxgl-popup-anchor-left,
  .mapboxgl-popup-anchor-right,
  .mapboxgl-popup-anchor-bottom, 
  .mapboxgl-popup-anchor-bottom-left, 
  .mapboxgl-popup-anchor-bottom-right {
    flex-direction: row !important;
  }

  /* .mapboxgl-popup-anchor-bottom, 
  .mapboxgl-popup-anchor-bottom-left, 
  .mapboxgl-popup-anchor-bottom-right {
    flex-direction: column !important;
  } */
}

/* .mapboxgl-popup {
  transform: none !important;
  top: auto !important;
  left: auto !important;
  bottom: 100px !important;
  justify-self: center;
  width: 100dvw;
}

.mapboxgl-popup-content {
  background: none !important;
  border-radius: 0 !important;
  padding: 0 !important;
  box-shadow: none !important;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  display: none;
} */
